[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
joblib = "*"
python-dotenv = "*"
flask-cors = "*"
tensorflow = "*"

[dev-packages]
mypy = "*"
ruff = "*"
black = "*"

[requires]
python_version = "3.10"
