[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
nltk = "*"
textblob = "*"
flask = "*"
joblib = "*"
python-dotenv = "*"
numpy = "*"
scikit-learn = "*"
requests = "*"
flask-cors = "*"

[dev-packages]
mypy = "*"
autopep8 = "*"

[requires]
python_version = "3.9"
